body {
  background: #334;
}

.root {
  height: 100%;
  width: 100%;
}

.controls {
  position: absolute;
  height: 5%;
  width: 100%;
}

.controls .type {
  position: absolute;
  left: 0;
  width: 25%;
  height: 100%;
  font-size: 12pt;
  background: #ddf;
  margin-left: 2.5%;
}

.controls .translate {
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
  font-size: 12pt;
  background: #ddf;
  margin-right: 2.5%;
}

.left {
  position: absolute;
  top: 5%;
  left: 0;
  height: 90%;
  margin: 2.5%;
  width: 45%;
}

.left > .from {
  height: 4%;
  width: 101%;
  font-size: 12pt;
  background: #ddf;
}

.left > textarea {
  width: 100%;
  height: 95%;
  background: #ddf;
}

.right {
  position: absolute;
  top: 5%;
  right: 0;
  height: 90%;
  margin: 2.5%;
  width: 45%;
}

.right > .to {
  height: 4%;
  width: 101%;
  font-size: 12pt;
  background: #ddf;
}

.right > textarea {
  width: 100%;
  height: 95%;
  background: #ddf;
}
